body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


p, h1, h2, h3 {
  margin: 0;
}



/* header */

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 17px 0;
}

.header-logo-color {
  color: #2e2f42;
}

.header-menu-list {
  display: none;
}

.header-address {
  font-style: normal;
  margin-left: auto;
  display: none;
}

.open-menu-btn {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  line-height: 0;
  border: none;
}

@media screen and (min-width: 768px) {
  .open-menu-btn {
    display: none;
  }

  .header-logo {
    margin-right: 120px;
  }

  .header-menu-list {
    display: flex;
    gap: 40px;
  }

  .header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-menu-link:hover,
  .header-menu-link:focus {
    color: #404bbf;
  }

  .current {
    position: relative;
    color: #404bbf;
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
  }

  .header-address {
    display: block;
  }

  .header-address-link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-address-link:hover,
  .header-address-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .header-address-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-address-link {
    font-size: 16px;
    line-height: 1.5;
  }
}

/*Mobile menu*/

.open-menu-btn {
  padding: 5px 4px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 0;
}

.mobile-menu {
  background: #fff;
  padding: 72px 16px 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu .is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-close-btn {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-mobile {
  display: flex;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  align-items: center;
  color: #2e2f42;
  gap: 40px;
  padding-top: 24px;
}

.nav-mobile.current {
  color: #404bbf;
}

.nav-list-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  flex-grow: 1;
}
.nav-link-mobile {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.adress-list-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  margin-bottom: 48px;
}

.address-link-mobile {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color cubic-bezier(0.4, 0, 0.2, 1);
  gap: 24px;
}

.address-contacts-mobile {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-contacts-mobile.current {
  color: #4d5ae5;
}

.social-media-mob {
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-self: center;
  margin-left: 0;
  align-items: flex-start;
  flex-direction: row;
  gap: 40px;
}

.link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

/* solutions */

.solutions-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  width: 216px;
}

.solutions {
  padding-top: 76px;
  padding-bottom: 76px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-min-mob.jpg);
  max-width: 762px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .solutions {
    background-color: #2e2f42;
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-min-mob.jpg);
    url(../images/people-office-mob-2x.jpg);
  }
}

.solutions-btn {
  background-color: #4d5ae5;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-btn:hover,
.solutions-btn:focus {
  background-color: #404bbf;
}

/* features */

.features {
  padding-top: 96px;
  padding-bottom: 96px;
}

.container-icon {
  display: none;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  background-color: #f4f4fd;
}

.features-icon-link {
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.features-item {
  width: 100%;
}
.features-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
   text-align: center;
   padding: ;
}
.features-item-title {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #434455;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* team */

.team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.team-item {
  background-color: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: 264px;
  }

.team-image {
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
  text-align: center;
}

.team-item-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-item-list {
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-item-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-icon-list {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}

.team-soc-icon {
  fill: #f4f4fd;
}

/* portfolio */

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}
.portfolio-title {
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
padding-top: 96px;
padding-bottom: 72px;
}

.portfolio-list {
    display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-item {
    width: 100%;
  padding-left: 0;
  margin: 0;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-image-list {
   position: relative;
  overflow: hidden;
  width: 288px;
  margin: 0 auto;
  }

.portfolio-image-text {
    font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-subtitle {
    text-align: left;
  font-size: 20px;
}

.portfolio-item-title {
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-item-list {
   margin: 0 auto;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

/* footer */

.footer {
  background-color: #2e2f42;
  padding: 88px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;

}

.footer-logo {
  font-weight: 700;
  font-size: 18px;
  font-family: Raleway;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.footer-logo-color {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
}

.footer-title-soc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
  align-self: center;
}

.footer-main {
  display: flex;
  flex-direction: column;
  gap: 72px;

}

.container-footer-social {
  display: flex;
  flex-direction: column;
}

.container-social-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-soc-icon {
  fill: #f4f4fd;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.form-subscribe {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  opacity: 0.3;
}

.form-subscribe::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
}

.footer-subscribe {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  font-weight: 500;
}


.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background: #4d5ae5;
  border: none;
  cursor: pointer;
}

.footer-button:hover,
.footer-button:focus {
  background-color: #404bbf;
}

.footer-form-btn {
  margin-left: 16px;
}





/* modal */

 .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  position: absolute;
  width: 288px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 8px;
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
  fill: #ffffff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  text-align: center;
  max-width: 360px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.modal-form-input {
  margin-bottom: 8px;
}

.modal-form-textarea {
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  border-radius: 4px;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  color: ;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-input::placeholder {
  font-size: ;
  color: ;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-button {
  display: block;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  border: none;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  fill: #2e2f42;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  width: 100%;
  border: 1px solid #2e2f42;
  border-radius: 4px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 300ms linear;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.checkbox-form {
  margin-bottom: 24px;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.visually-hidden:checked + .checkbox-label > .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy {
  color: #4d5ae5;
  text-decoration: underline;
}  

/*------modal-mobile------*/

.backdrop-mobile-modal {
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-mobile-modal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-mob {
  padding: 72px 16px 24px 16px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.modal-btn-mob {
  align-self: flex-end;
  margin-bottom: 24px;
}
.modal-btn-icon.mob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #2e2f42;
}

.checkbox-form-input.checkbox-form {
  margin-bottom: 24px;
}
.checkbox-label {
  flex-direction: row;
  justify-content: start;
}

/**tablet**/

@media screen and (min-width: 768px) {

 .solutions {
  padding-top: ;
  padding-bottom: ;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-min-tab.jpg);
  
  }

  .solutions-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    width: 496px;
         
     }

  @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .solutions {
      background-color: #2e2f42;
      background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
            url(../images/people-office-min-tab.jpg);
      url(../images/people-office-tab-2x.jpg);
    }
  }

  .features-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 72px 24px;
    flex-wrap: wrap;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }
  .features-subtitle {
    text-align: left;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color:#2E2F42;
  }

  .features-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }

  .portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
  
}

  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-image-list {
    width: auto;
  }

  
  
   .footer-main {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: start;
    align-items: baseline;
    justify-content: unset;
    max-width: 584px;
    gap: 72px 24px;
}

.footer-logo {
    display: flex;
    justify-content: start;
}

.socials-title-soc {
    align-self: flex-start;
    
}

.form-container {
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.form-footer {
    display: flex;
    flex-direction: row;
}
  
  
  
  
   .backdrop-tablet.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .modal-tablet {
    width: 408px;
    height: 584px;
  }
}
 
/* Desktop */

@media screen and (min-width: 1158px) {
  
  .solutions {
    background-color: #2e2f42;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .solutions {
      background-color: #2e2f42;
      background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
      url(../images/people-office-2x.jpg);
    }
  }

  .solutions-title {
    font-weight: 700;
    font-size: 56px;
    width: 496px;
    height: 120px;
    word-wrap: break-word;
  }

  .features-list {
    display: flex;
    gap: 24px;
  }

  .features-item {
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
  }

  
  .container-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    background-color: #f4f4fd;
  }

  .features-subtitle {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
  }

  .features-item-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .portfolio-item-list {
    margin: 0 auto;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
    padding-left: 0;
    margin: 0;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

    .portfolio-item:hover .portfolio-image-text {
    transform: translateY(0%);
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    row-gap: 48px;
    padding-left: 0;
    margin: 0;
  }
  .portfolio-image-list {
    position: relative;
    overflow: hidden;
    width: 360px;
    margin: 0 auto;
  }

  .portfolio-image-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4d5ae5;
    color: #f4f4fd;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  

 .footer-main {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
  gap: unset;
 }
 
  .footer-text {
    width: 264px;
    height: 72px;
  }
  
.container-footer-social {
  margin-left: 80px;
}

.form-container {
  margin-left: 80px;
  min-width: 453px;
  height: 80px;
}


/* Modal-window */

  .backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
  }

  .modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-btn:hover,
  .modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
  }

  .modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-btn:hover > .modal-close-icon,
  .modal-close-btn:focus > .modal-close-icon {
    fill: #ffffff;
  }
}

